/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.background {
  fill: #e7e7e7;
}

body {
  font: 10px sans-serif;
}



#chart text{
    cursor: pointer;
}

p {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-weight: bold;
    padding: 3px;
}